<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wars</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="wars.css">
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
  </head>
  <body class="container">

    <h1>Welcome to Connect Four!</h1>
    <h2>The object of this game is to connect four of your chips in a row!</h2>
    <h3 class="player">Let's get started!</h3>

    <div class="buttons container">
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
      </tr><br>
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        </tr><br>
      </tr>
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        </tr><br>
      </tr>
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        </tr><br>
      </tr>
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
      </tr>
      </tr><br>
      <tr>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        <button  type="button"></button>
        </tr><br>
      </tr>
    </div>




    <script src="wars.js"></script>
  </body>
</html>
